@model List<Xperi_MVC.data.Models.ToDoItem>

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>ShowAllToDos</title>
</head>
<body>
    <ul>
        <div>
            @foreach (Xperi_MVC.data.Models.ToDoItem ToDo in Model)
            {
                <li>@ToDo.Name</li>
            }

        </div>
    </ul>
</body>
</html>
